<% provide(:title, 'Redigera användare') %>

<h1>Uppdatera din profil</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>
      
      <%= render 'fields', f: f %>

      <%= f.submit "Spara ändringar", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
