<footer class="footer">
  <small>
    ProtoKoll av
	<a href="http://chris.hindefjord.se">Chris Hindefjord</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Start",   root_path %></li>
    </ul>
  </nav>
</footer>